<% if Rails.env.development? %>
  <h5 class="media-heading css-bookmark-container" style="background: yellow; font-size: 12px;">
    <span>
      <%= "URL: #{bookmark.url}" %>
    </span>
    <br/>
    <span>
      <%= "First liked by #{bookmark.likes.empty? ? 'NO ONE' : bookmark.likes[0].user.name.split(' ')[0]}"
      %>
    </span>
    <span style="margin-left: 8px;">
      <%= "Created by #{bookmark.user.name.split(' ')[0]}" %>
      <%= "#{time_ago_in_words(bookmark.created_at)} ago" %>
    </span>
  </h5>
<% end %>
