<% if bookmark_column == 0 %>
<div class="row">
<% end %>
  <div class="col-md-4">
    <div class="media">
      <div class="media-body">

        <% results = get_embed_card_preview_html(bookmark.url) %>
        <%= results[:response][:html] %>
      </div>
    </div>
  </div>
<% if bookmark_column == 2 %>
</div>
<% end %>
