<div class="css-parent-topic-title">
    <h3 class="media-heading text-center" title='Created by: <%= "#{props[:topic].user.name}" %>'>
      #<%= props[:topic].title.downcase.capitalize %>
    </h3>
  <div class="text-center css-header-desc">
    <%= props[:topic].description %>
  </div>
</div>
