<% # col = 0, 1, 2  index % 3 = column position
  column =
    props[:item_num] % rpt_bmk(props)[:bookmarks_per_row]
%>
<% if column == 0 %>
  <div class="row">
<% end %>
    <div class="col-md-4">
      <div class="media">
        <div class="media-body">
          <% results = get_embed_card_preview_html(props[:bookmark].url) %>
          <%= results[:response][:html] %>
        </div>
      </div>
    </div>
<% if (column == (rpt_bmk(props)[:bookmarks_per_row] - 1)) ||
                 (props[:item_num] == (props[:num_items] - 1))
%>
  </div>
  <hr style="margin-top: 10px; margin-bottom: 14px; color: black; border: solid 1px;">
<% end %>
