<header>
  <div class="row">
    <div class="col-md-8 css-page_title">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">
            <%= topic.new_record? ? 'New' : 'Edit' %> Topic
          </h2>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="row">
    <div class="col-md-4">
      <p>Guidelines for topics:</p>
      <ul>
        <li>Make sure the topic is appropriate.</li>
        <li>Description should indicate what bookmarks should go into this
            collection.
        </li>
        <li>Topics can be edited or deleted by its creator at any time.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <%= render partial: 'shared/errors', locals: { obj: topic } %>
      <%= render partial: 'new_edit_form', locals: { topic: topic } %>
    </div>
  </div>
</main>
