<div class="css-topic" style="margin-bottom:20px;">
  <div class="row" class="css-topic-description-row" style="margin-bottom: 4px;">
    <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading css-topic-title">
            <span style="text-decoration: underline; font-size: 24px;">
              <%= link_to "##{topic.title}", topic, title: "Created by: #{topic.user.name}" %>
            </span>
            <span><%= topic.description %></span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <% if policy(Bookmark).create? && rpt_policy[:include_new_bookmark] %>
        <%= link_to 'New Bookmark', new_topic_bookmark_path(topic), class: 'btn btn-xs btn-primary pull-right' %>
      <% end %>
    </div>
  </div>
  <% # end of topic desc container row %>

  <div class="row">
    <div class="col-md-12">
      <% topic.bookmarks.each_with_index do |bookmark, index| %>
        <%= render partial: '/bookmarks/bookmark',
                   locals: { properties:
                               { topic: topic, bookmark: bookmark,
                                 num_items: topic.bookmarks.length,
                                 item_num: index
                               }
                           } %>
      <% end %>
    </div>
  </div>
</div>
