<div class="css-topic" style="margin-bottom:20px;">
  <div class="row" class="css-topic-description-row" style="margin-bottom: 4px;">
    <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading css-topic-title">
            <span style="text-decoration: underline; font-size: 24px;">
              <%= link_to "##{props[:topic].title}", props[:topic], title: "Created by: #{props[:topic].user.name}" %>
            </span>
            <span><%= props[:topic].description %></span>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
      <% if policy(Bookmark).create? && rpt_topic(props)[:include_new_bookmark] %>
        <%= link_to 'New Bookmark', new_topic_bookmark_path(props[:topic]), class: 'btn btn-xs btn-primary pull-right' %>
      <% end %>
    </div>
  </div>
  <% # end of topic desc container row %>

  <div class="row">
    <div class="col-md-12">
      <% props[:topic].bookmarks.each_with_index do |bookmark, index| %>
        <%= render partial: '/bookmarks/bookmark',
                   locals: { props: props.merge!(
                             num_bookmarks: props[:topic].bookmarks.length,
                             bookmark: bookmark, bookmarks_index: index) } %>
      <% end %>
    </div>
  </div>
</div>
