<header style="margin-bottom:30px;">
  <div class="row">
    <%= render partial: 'index_page_header', locals: { topics: @topics } %>
  </div>
</header>

<main>
  <div class="row">
    <div class="col-md-12">
      <%= render @topics %>
    </div>
  </div>
</main>
