<header style="margin-bottom:30px;">
  <div class="row">
    <%= render partial: 'show_page_header', locals: { topic: @topic } %>
  </div>
</header>

<main>
  <div class="row">
    <div class="col-md-12">
      <% @topic.bookmarks.each_with_index do |bookmark, index| %>
        <%= render partial: '/bookmarks/bookmark',
                   locals: { properties:
                               { topic: @topic, bookmark: bookmark,
                                 num_items: @topic.bookmarks.length,
                                 item_num: index
                               }
                           } %>
      <% end %>
    </div>
  </div>
</main>
