<div class="css-<%= rpt_tag %>-rpt" style="margin-bottom: 40px;">
  <header style="margin-bottom:10px;">
    <div class="row">
      <h2 class="media-heading text-center"><%= title %></h2>
    </div>
  </header>

  <% topics.each do |topic| %>
    <%= render partial: 'user_profile_topic',
               locals: { topic: topic,
                         bookmarks:  (rpt_tag == 'my-blocmarks') \
                                             ? topic.bookmarks_by_user(current_user) \
                                             : topic.bookmarks_by_user_liked(current_user),
                         no_delete:          (defined? topic_no_delete).nil?    ? false : topic_no_delete,
                         no_edit:            (defined? topic_no_edit).nil?      ? false : topic_no_edit,
                         bookmark_no_likes:  (defined? bookmark_no_likes).nil?  ? false : bookmark_no_likes,
                         bookmark_no_delete: (defined? bookmark_no_delete).nil? ? false : bookmark_no_delete,
                         bookmark_no_edit:   (defined? bookmark_no_edit).nil?   ? false : bookmark_no_edit
                       }
    %>
  <% end %>
</div>
