<div class="css-topic" style="margin-bottom:20px;">
  <header style="margin-bottom:4px;">
    <div class="row">
      <div class="col-md-12">
        <h4 class="media-heading css-topic-title">
          <span style="text-decoration: underline; font-size: 24px;">
            <%= link_to "##{topic.title}", topic, title: "Created by: #{topic.user.name}" %>
          </span>
          <span class="css-topic-title-actions" style="margin-left: 10px;">
            <% unless (defined? no_delete).nil? ? false : no_delete %>
              <span><%= link_to 'Edit', '', class: 'btn btn-xs btn-success' %></span>
            <% end %>
            <% unless (defined? no_edit).nil? ? false : no_edit %>
              <span><%= link_to 'Delete', '', class: 'btn btn-xs btn-danger' %></span>
            <% end %>
          </span>
        </h4>
      </div>
    </div>
  </header>

  <main>
    <div class="row">
      <div class="col-md-12">
        <% bookmarks.each do |bookmark|  %>
          <%= render partial: '/bookmarks/bookmark',
                     locals: { topic: topic, bookmark: bookmark,
                               no_likes:  (defined? bookmark_no_likes).nil?   ? false : bookmark_no_likes,
                               no_delete: (defined? bookmark_no_delete).nil?  ? false : bookmark_no_delete,
                               no_edit:   (defined? bookmark_no_edit).nil?    ? false : bookmark_no_edit
                             }
          %>
        <% end %>
      </div>
    </div>
  </main>
</div>
