<div class="css-topic" style="margin-bottom:20px;">
  <header style="margin-bottom:4px;">
    <div class="row">
      <div class="col-md-12">
        <h4 class="media-heading css-topic-title">
          <span style="text-decoration: underline; font-size: 24px;">
            <%= link_to "##{topic.title}", topic, title: "Created by: #{topic.user.name}" %>
          </span>
          <span class="css-topic-title-actions" style="margin-left: 10px;">
            <% unless (defined? no_delete).nil? ? false : no_delete %>
              <span><%= link_to 'Edit', '', class: 'btn btn-xs btn-success' %></span>
            <% end %>
            <% unless (defined? no_edit).nil? ? false : no_edit %>
              <span><%= link_to 'Delete', '', class: 'btn btn-xs btn-danger' %></span>
            <% end %>
          </span>
        </h4>
      </div>
    </div>
  </header>

  <main>
    <div class="row">
      <div class="col-md-12">
        <% num_bookmarks = bookmarks.length
           bookmarks.each_with_index do |bookmark, index|
           #bookmark = bookmarks[0]
           #index = 0
           #num_bookmarks = 1
           #bookmarks_per_row = 1
        %>
          <%= render partial: '/bookmarks/bookmark',
                     locals: { topic: topic, bookmark: bookmark,
                               num_items:    num_bookmarks,
                               item_num:     index,
                               # col = 0, 1, 2  index % 3 = column position?
                               bookmark_column: index % bookmarks_per_row,
                               no_likes:     (defined? bookmark_no_likes).nil?   ? false : bookmark_no_likes,
                               no_delete:    (defined? bookmark_no_delete).nil?  ? false : bookmark_no_delete,
                               no_edit:      (defined? bookmark_no_edit).nil?    ? false : bookmark_no_edit,
                               embedly:      (defined? bookmark_embedly).nil?    ? false : bookmark_embedly,
                               carousel:     (defined? bookmark_carousel).nil?   ? false : bookmark_carousel,
                               debug_footer: (defined? debug_footer).nil?        ? false : debug_footer
                             }
          %>
          <% empty_bookmark_columns = num_bookmarks  % bookmarks_per_row %>
        <% end %>
      </div>
    </div>
  </main>
</div>
