<div class="css-navbar_left">
  <div class="css-navbar-header">
    <% if Config.link_refresh || !current_page?(:root) %>
        <%= link_to 'Blocmarks', root_path, class: 'navbar-brand' %>
    <% else  %>
        <a class="navbar-brand css-navbar-no-href">Blocmarks</a>
    <% end %>
  </div>
  <ul class="nav navbar-nav">
    <% if Config.link_refresh || !current_page?(:root) %>
        <li><%= link_to 'Home', root_path %></li>
    <% else %>
        <li><a class="css-navbar-no-href">Home</a></li>
    <% end %>
    <% if Config.link_refresh ||
          current_page?(controller: 'devise/confirmations', action: 'new')  ||
          current_page?(controller: 'devise/passwords',     action: 'new')  ||
          current_page?(controller: 'devise/passwords',     action: 'edit') ||
          current_page?(controller: 'devise/registrations', action: 'new')  ||
          current_page?(controller: 'devise/registrations', action: 'edit') ||
          current_page?(controller: 'devise/sessions',      action: 'new')  ||
         !current_page?(controller: 'topics', action: 'index')
    %>
        <li><%= link_to 'Topics', topics_path %></li>
    <% else %>
        <li><a class="css-navbar-no-href">Topics</a></li>
    <% end %>
  </ul>
</div>
