<div class="navbar_left">
  <div class="navbar-header">
    <%= link_to 'Blockmarks', root_path, class: 'navbar-brand' %>
  </div>
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Topics', '' %></li>
  </ul>
</div>
