<h5 class="media-heading css-bookmark-container" style="background: yellow; font-size: 12px;">
  <span>
    <%= "URL: #{properties[:bookmark].url}" %>
  </span>
  <br/>
  <span>
    <%= "First liked by #{properties[:bookmark].likes.empty? ? 'NO ONE' : properties[:bookmark].likes[0].user.name.split(' ')[0]}"
    %>
  </span>
  <span style="margin-left: 8px;">
    <%= "Created by #{properties[:bookmark].user.name.split(' ')[0]}" %>
    <%= "#{time_ago_in_words(properties[:bookmark].created_at)} ago" %>
  </span>
</h5>
