<% if column == 0 %>
<div class="row">
<% end %>
  <div class="col-md-4">
    <div class="media">
      <div class="media-body">
        <% if props.embed_side_by_side  %>
        <% #results = get_embed_card_preview_html(properties[:bookmark].url) %>
        <% #= results[:response][:html] %>
        <%= render partial: 'bookmarks/bookmark_embedly_ryo',
                   locals: { num_items: num_items, column: column, topic: topic, bookmark: bookmark } %>
      </div>
    </div>
  </div>
<% if (column == (bookmarks_per_row - 1)) || (item_num == (num_items - 1)) %>
</div>
<% end %>
