<% if rpt_bmk_helpers(props)[:first_column?] %>
  <!-- BEGIN: embed_ray_bmk row -->
  <div class="row css-bookmark css-bookmark-<%= props[:scope_bookmark] %>">
<% end %>
    <div class="col-md-4 css-embed-card-<%= props[:scope_bookmark] %>">
      <div class="media">
        <div class="media-body">
          <%= render partial: 'bookmarks/styles/embed_ray/embed_ray_card',
                     locals: { props: props }
          %>
          <%= render partial: 'bookmarks/styles/embed_ray/embed_ray_card_footer',
                     locals: { props: props }
          %>
        </div>
      </div>
    </div>

<% if rpt_bmk_helpers(props)[:last_column?] || rpt_bmk_helpers(props)[:last_bookmark?] %>
  </div>
  <!-- END: embed_ray_bmk row -->
  <hr style="margin-top: 10px; margin-bottom: 24px; color: black; border: solid 1px;">
<% end %>
