<!--  # ======== Begin: PAGE FOOTER -global- ========== -->
<footer class="content_for_page_footer">
  <header>
    <hr>
  </header>
  <nav>
    <div class="container">
      <p class="text-muted">Created by <a href="https://cdn-photos.bloc.io/medium/2317655/photo.JPG?1450380571" target="_blank">A student at Block.io</a></p>
    </div>
  </nav>
</footer>
<!-- # ======== End: PAGE FOOTER - global ========== -->
