<header>
  <!-- # <header> Begin: Page Main Body Header: Page title and top nav. -Optional- -->
  <% if content_for?(:page_main_body_header_title) %>
    <div class="page_main_body_header_title">
      <!-- # == Begin: yield :Page Main Body Header Title == -->
      <%= yield :page_main_body_header_title %>
      <!-- # == End: yield :Page Main Body Header Title == -->
    </div>
  <% end %>
  <!-- # == Begin: Page Main Content Body Header Navigation == -->
  <nav>
    <% if content_for?(:page_main_body_header_nav) %>
    <div class="page_main_body_header_nav">
      <!-- # == Begin: yield :Page Main Body Header Navigation == -->
      <%= yield :page_main_body_header_nav %>
      <!-- # == End: yield :Page Main Body Header Navigation == -->
    <% end %>
  </div>
  </nav>
  <!-- # == End: Page Main Content Body Header Navigation == -->
</header>
<!-- # == End: Page Main Content Body Header -->
