<!-- # ======== Begin: PAGE HEADER -global- ========== -->
<header class="content_for_page_header">
  <!-- # == Begin: Page Header Navigation - Navbar, inverse == -->
  <nav>
  <% if content_for?(:override_page_header_navbar) %>
    <!-- # == Begin: Page Header Navbar override == -->
    <%= yield :override_page_header_navbar %>
    <!-- # == End: Page Header Navbar override == -->
  <% else %>
    <div class="navbar navbar-inverse">
      <div class="container">
        <%= render 'shared/page_header_navbar_left' %>
        <%= render 'shared/page_header_navbar_right' %>
      </div>
    </div>
  <% end %>
  </nav>
  <!-- # ======== End: Page Header Navigation == -->
</header>
<!-- # ======== End: PAGE HEADER -global- ========== -->
