<!--  # ======== Begin: PAGE FOOTER -global- ========== -->
<footer class="css-content_for_page_footer">
  <header>
    <hr>
  </header>
  <nav>
    <div class="container">
      <% if content_for?(:override_page_footer_nav) %>
        <!-- # == Begin: Page Header Navbar override == -->
        <%= yield :override_page_footer_nav %>
        <!-- # == End: Page Header Navbar override == -->
      <% else %>
       <%= render 'shared/page_footer_nav' %>
      <% end %>
    </div>
  </nav>
</footer>
<!-- # ======== End: PAGE FOOTER - global ========== -->
