<div class="navbar-header">
  <%= link_to 'Blockmarks', root_path, class: 'navbar-brand' %>
</div>
<div id="navbar_left">
  <ul class="nav navbar-nav">
    <% if user_signed_in? %>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Topics', '' %></li>
    <% else %>
      <li><%= link_to 'Home', root_path %></li>
    <% end %>
  </ul>
</div>
